.form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    color: white;
}

.groupRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex: 1;

    input {
        flex: 1;
    }
}